<html>
  <head>
    <title> Sign-Up Page</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

      <script src="./assets/jquery-3.3.1.min.js"></script>
      <script type="text/javascript">
      // jQuery convention for running when the document has been fully loaded:
      $(document).ready(() => {
        $('#SignUpButton').click(() => {
          $.ajax({
            // all URLs are relative to http://localhost:3000/
            url: 'SignUp',
            type: 'POST', // <-- this is POST, not GET
            data: {
                    name: $('#Name').val(),
                    Fname: $('#FamilyName').val(),
                    Mail: $('#SignInMail').val(),
                    Phone: $('#Pnumber').val(),
                    Password: $('#Password').val()
                  },
            success: (data) => {
              console.log(data);
              window.location.href = 'Welcome';
            }
          });
      });
      });
    </script>
 </head>


    <body>

      <!-- Navigation Button -->
      <nav class="navbar navbar-inverse">
      <div class="container-fluid">

          <!-- Logo -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>

              <a href="#" class="navbar-brand">FINDMYBUYS</a>
          </div>

          <!-- Menu Items -->
          <div class="collapse navbar-collapse" id="mainNavBar">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
              </ul>
          </div>

      </div>
  </nav>


        <div class="container">
          <div class="row centered-form">
          <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
          	<div class="panel panel-default">
          		<div class="panel-heading">
  			    		<h3 class="panel-title">Please sign up<small></small></h3>
  			 			</div>
  			 			<div class="panel-body">
  			    		<form role="form">
  			    			<div class="row">

  			    				<div class="col-xs-6 col-sm-6 col-md-6">
  			    					<div class="form-group">
  			                <input type="text" name="first_name" id="Name" class="form-control input-sm" placeholder="First Name">
  			    					</div>
  			    				</div>

  			    				<div class="col-xs-6 col-sm-6 col-md-6">
  			    					<div class="form-group">
  			    						<input type="text" name="last_name" id="FamilyName" class="form-control input-sm" placeholder="Last Name">
  			    					</div>
  			    				</div>
  			    			</div>

  			    			<div class="form-group">
                    <input type="email" name="email" id="SignInMail" class="form-control input-sm" placeholder="Email Address">
  			    			</div>

  			    			<div class="row">
  			    				<div class="col-xs-6 col-sm-6 col-md-6">
  			    					<div class="form-group">
  			    						<input type="password" name="password" id="Password" class="form-control input-sm" placeholder="Password">
  			    					</div>
  			    				</div>

                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="tel" name="Mobile" id="Pnumber" class="form-control input-sm" placeholder="Mobile Phone #">
                      </div>
                    </div>
                </div>

  			    			<input id="SignUpButton" value="Signup" class="btn btn-info btn-block">

  			    		</form>
  			    	</div>
  	    		</div>
      		</div>
      	</div>
      </div>
  </body>

</html>
